.item {
    width: 250px;
    height: auto;
    margin: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8px;
    color: rgb(14, 15, 15);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.items {
    width: 220px;
    margin: 5px;
    margin-bottom: 16px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label {
    margin-bottom: 16px;
    padding: 10px;
}

.btn {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.regForm {
    width: 100px;
    height: auto;
    margin: 2px;
    padding: 2px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 5px;
    color: rgb(14, 15, 15);
}

.messag {
    margin: 5px;
    margin-bottom: 16px;
    padding: 10px;
}

.inp {
    width: 100%;
    margin-bottom: 16px;
    padding: 2px;
}